.swiper-button-next,
.swiper-button-prev {
  color: #fa8e18;
  border-radius: 50%;
  border: 3px solid #fa8e18;
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  top: 95% !important;
}
.swiper-button-next {
  right: 40% !important;
}
.swiper-button-prev {
  left: 40% !important;
}
@media screen and (max-width: 470px) {
  .swiper-button-next {
    right: 20% !important;
  }
  .swiper-button-prev {
    left: 20% !important;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
}

.swiper-pagination-bullet {
  background: #c4c5d9;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fa8e18;
}
