@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
body{
    @apply bg-gray-100
=======
@layer components {
  .input{
    @apply bg-transparent px-0 input-bordered;
  }
  .input-bordered{
    @apply border-0 border-b-[1px] rounded-none border-neutral-500;
  }
  .input:focus {
    @apply border-primary-35 outline-none;
  }
  .textarea:focus {
    @apply border-primary-35 outline-none;
  }
  .alert-error {
    @apply bg-red-300 text-red-900;
  }
}


.hero-content {
  flex-direction: column;
  align-items: start;
  padding: 0;
}

#contacts-banner::after {
  content: "";
  @apply absolute -bottom-14 -right-14 w-48 h-48 rounded-full bg-white/10;
  
}

#contacts-banner::before {
  content: "";
  @apply absolute bottom-12 right-12 w-28 h-28 rounded-full bg-white/10;
  
>>>>>>> 30a2bb8da41f93ac9b781fe2ce2db705279600ed
}